* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: none;
    
}

.Manual{
    min-height: 100vh;
    height: 1600px;
    color: white;
    background-color: #0c192c;  
}

.capa{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 170vh;
    max-height: 100%;
    overflow: hidden;
    padding: 40px;
    background-color: transparent;
    
}

.burbujas {
    position: absolute;
    z-index: 0;
    display: flex;
    opacity: 0;
    animation: showBubbles 40s forwards;
    bottom: -100%;
}

.burbujas span {
    position: bottom;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    animation-delay: calc(var(--i) * 0.1s + 4s);

}

.burbujas span:nth-child(even) {
    background: #7EECFF;
    box-shadow: 0 0 0 10px #66BF,
    0 0 50px ,#7EECFF
    0 0 100px #7EECFF;
}

@keyframes animate {
    0% {
        transform: translateY(0%) scale(0);
    }
    100%{
        transform: translateY(-200vh) scale(1);
    }
}

@keyframes showBubbles {
    0% {
        opacity: 0; /* Initially set opacity to 0 */
    }
    100% {
        opacity: 1; /* Make it visible */
    }
}


.letras{
    position: absolute;
    z-index: 1;
    padding: 40px;
    border: solid 2px white;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 50px;
    max-height: none;
    background-color: transparent;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2rem;
}

h2{
    margin: 1rem;
}

h3{
    margin: 1rem;
}

p{
    margin: 1rem;
}
