* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: none;
    
}

.Manual{
    min-height: 100vh;
    height: 100%;
    color: white;
    background-color: #0c192c;  
}

.capa{
    position: relative;
    width: 100%;
    min-height: 120vh;
    max-height: 100%;
    overflow: hidden;
    
    padding: 40px;
    background-color: transparent;
}

.burbujas {
    position: relative;
    z-index: 0;
    display: flex;
    
}

.burbujas span {
    position: bottom;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.burbujas span:nth-child(even) {
    background: #7EECFF;
    box-shadow: 0 0 0 10px #66BF,
    0 0 50px ,#7EECFF
    0 0 100px #7EECFF;
}

@keyframes animate {
    0% {
        transform: translateY(0%) scale(0);
    }
    100%{
        transform: translateY(-200vh) scale(1);
    }
}


.letras{
    position: absolute;
    z-index: 1;
    padding: 40px;
    border: solid 5px white;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 50px;
    max-height: none;
    background-color: transparent;
}

